.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Danger-button{
  position:'absolute';
  right:0;
  bottom:0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #374151;
  color: white;
}
.table {border: none;
  border-collapse: collapse;
}
.tr, td {
  border-bottom: none;
  border-top: none !important;
  vertical-align: middle !important;
}

.App-link {
  color: #61dafb;
}
.td-home{
   border-bottom: none;
}
.file { border: none; }
.noBorder {
    border:none !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
